<div>
    <div class="container">
        <div class="content-background-padding" fxLayout fxLayoutAlign="center center">
            <div class="content-background">
                <button mat-raised-button routerLink='/course/stream' routerLinkActive='active' class="button-style">STREAM</button>
                <button mat-raised-button routerLink='/course/attendance-report' routerLinkActive='active' class="button-style">Attendance Report</button>
                <button *ngif="isAdmin" mat-raised-button routerLink='/welcome-page' routerLinkActive='active' class="back-button-style">BACK</button>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

  