.content-background{
    min-height: 600px;
    background-color: rgba(240, 248, 255, 0.973);
    padding: 20px;
    font-family: cursive;
}

.subtitle-style{
    font-family: Georgia;
    font-weight: bold;
    font-size: large;
    color: blue;
}

.padding-body{
    padding: 15px;
}

.row-style{
    background-color: steelblue;
}

.border{
    padding: 10px;
    border: 1px solid navy;
}

.head-style{
    color: aliceblue;
    background-color:navy;
}

/* .mat-select1{
    background-color: rgb(49, 68, 60);
    stroke: 2px solid black;
    float: left;
    padding: 10px;
    margin: 10px;
    width: 120px;
    border-radius: 10px;
}

.mat-select2{
    background-color: rgb(111, 133, 123);
    stroke: 5px solid black;
    float: left;
    padding: 10px;
    margin: 10px;
    width: 180px;
    border-radius: 10px;
}*/

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(255, 128, 0); 
}